castor/src/main/resources/META-INF/mule-castor.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://www.mulesource.org/schema/mule/castor/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified" xmlns="http://www.mulesource.org/schema/mule/castor/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0" xmlns:spring="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />


    <xsd:complexType name="castorTransformerType">
    	<xsd:complexContent>
    		<xsd:extension base="mule:abstractTransformerType">
    			<xsd:attribute name="mappingFile"
    				type="xsd:string">
    			</xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    

    <xsd:complexType name="objectToXmlType">
    	<xsd:complexContent>
    		<xsd:extension base="castorTransformerType"></xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="xmlToObjectType">
    	<xsd:complexContent>
    		<xsd:extension base="castorTransformerType">
    			<xsd:attribute name="rootClass" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="object-to-xml" type="objectToXmlType" substitutionGroup="mule:abstract-transformer"></xsd:element>

    <xsd:element name="xml-to-object" type="xmlToObjectType" substitutionGroup="mule:abstract-transformer"></xsd:element>
</xsd:schema>
